BeautifulSoup==3.2.0
Fabric==1.2.2
Flask==0.8
Jinja2==2.6
PIL==1.1.7
Pillow==1.7.5
Werkzeug==0.8.2
distribute==0.6.19
html5lib==0.90
paramiko==1.7.7.1
pyPdf==1.13
pycrypto==2.5
redis==2.4.9
reportlab==2.5
wsgiref==0.1.2
xhtml2pdf==0.0.3
