{% extends "base.html" %}
{% import "topnavbar.html" as nav %}
{% block title %}About{% endblock %}
{% block topnavbar %}
{{ nav.topnavbar(3) }}
{% endblock %}
{% block body %}
<div class="container">
<div class="row">
	<h1>About</h1>
	<p>QuranApp was made to help people create collections of various Ayats for distribution.</p>
    <h1>Contact</h1>
    <p>For any comments or suggestions, please email me at m [dot] hasnain [dot] lakhani [at] gmail [dot] com</p>
    <h1>Data Sources</h1>
    <p>The Arabic Quran Data and the English translations are taken from <a href="http://tanzil.net">tanzil.net</a></p>
    <h1>Contribute</h1>
    <p>The code is available on <a href="https://github.com/mhlakhani/quranapp">Github.</a> Please contribute there or add issues for features you wish to be included.</p>
</div>
</div>
{% endblock %}
