{% extends "base.html" %}
{% import "topnavbar.html" as nav %}
{% block title %}Browse Quran{% endblock %}
{% block topnavbar %}
{{ nav.topnavbar(1) }}
{% endblock %}
{% block script %}

<script type="text/javascript">
function Ayat(item)
{
    var self = this;
    self.id = ko.observable(item.id);
    self.number = ko.observable(item.number);
    self.arabic = ko.observable(item.arabic);
    self.english = ko.observable(item.english);
    self.selected = ko.observable(item.selected);

    self.toggleSelect = function ()
        {
            self.selected(!self.selected());
            $.ajax("/select_ayat", {
data: ko.toJSON({ selected: self.selected(), ayat_no: self.id() }),
type: "post", contentType: "application/json",
success: function(result) { },
error: function(result) { self.selected(!self.selected()); }
});
    }
}

function AyatModel() {
    var self = this;
    self.ayats = ko.observableArray([]);
    self.pages = ko.observableArray([]);
    self.page = ko.observable({{ page }});
    self.surah_no = ko.observable({{surah_no}});
    self.surah_name = ko.observable("{{surah_name}}");
    self.has_bismillah = ko.observable(false);
    self.bismillah = ko.observable("");
    self.ayat_no = ko.observable(1);
    self.cur_surah = ko.observable("");
    self.surah_list = ko.observable([
            {% for surah in surah_list %}
            "{{surah.id}}. {{ surah.name_english_transliterated | safe}}",
            {% endfor %}
            ]);

    self.jumpTo = function(surah_no, page)
    {
        $.getJSON("/browse/" + surah_no + "/" + page, function(allData) {
            var mappedAyats = $.map(allData.ayats, function (item) { return new Ayat(item); });
            self.surah_no(allData.surah_no);
            self.surah_name(allData.surah_name);
            self.page(allData.page);
            self.pages(allData.pages);
            self.has_bismillah(allData.has_bismillah);
            self.bismillah(allData.bismillah);
            self.ayats(mappedAyats);
        });
    }

    Sammy(function() {
            this.get('#:surah_no/:page', function () { self.jumpTo(this.params.surah_no, this.params.page);});
            this.get(':surah_no/:page', function () { self.jumpTo(this.params.surah_no, this.params.page);});
            }
            ).run();

    self.goToPreviousSurah = function() { location.hash = self.surah_no()-1 + "/" + self.page(); };
    self.goToNextSurah = function() { location.hash = self.surah_no()+1 + "/" + self.page(); };
    self.goToPage = function(page) { location.hash = self.surah_no() + "/" + page; };
    self.firstAyat = function() { if (this.ayats().length == 0) { return 0; } else { return this.ayats()[0].number; } };
    self.lastAyat = function() { if (this.ayats().length == 0) { return 0; } else { return this.ayats()[this.ayats().length-1].number; } };
    self.goToSurahAyat = function() {
        ayat_no = self.ayat_no();
        surah_no = self.surah_list().indexOf(self.cur_surah())+1;
        page_no = Math.floor(ayat_no / {{ per_page }})+1;
        if (page_no < 0) { return; }
        location.hash = surah_no + "/" + page_no;
    };

    url = "/browse/";
    history.replaceState(url, window.title, url);
    self.goToPage({{page}});
    
}

ko.applyBindings(new AyatModel());
</script>
{% endblock %}
{% block body %}
<div class="row">
<div class="span5 columns offset1">
<div class="alert-message block-message leftnavbar">
	<ul class="unstyled">
        <li>Surah #<b data-bind="text: surah_no"></b> <b data-bind="text: surah_name"></b></li>
		<br>
        <li data-bind="if: surah_no() > 1"><a href="" data-bind="click: goToPreviousSurah">Previous Surah</a></li>
        <li data-bind="if: surah_no() < 114"><a href="" data-bind="click: goToNextSurah">Next Surah</a></li>
	</ul>
    <form class="form-stacked" data-bind="submit: goToSurahAyat">
		<fieldset>
			<div class="clearfix">
				<label for="">Go to Surah:</label>
				<div class="input">
                    <select data-bind="options: surah_list, value: cur_surah"></select>
				</div>
			</div>
            <div class="clearfix">
                <label for="">Ayat:</label>
                <div class="input">
                    <input class="large" data-bind="value: ayat_no" type="text" size="50" value="1" style="height:27px; line-height:27px;"></input>
                </div>
            </div>
            <div>
                <button class="btn primary" type="submit" data-bind="click: goToSurahAyat">Go</button>
            </div>
		</fieldset>
	</form>
</div>
</div>
<div class="span11 columns">
    <table class="common-table">
        <thead>
            <tr><th colspan="3"><b data-bind="text: surah_name"></b>: Verses <b data-bind="text: firstAyat()"></b> to <b data-bind="text: lastAyat()"></b></th></tr>
            <tr data-bind="if: has_bismillah">
                <th colspan="3"><p class="arabic" data-bind="text: bismillah"></p></th>
            </tr>
        </thead>
		<tbody data-bind="foreach: ayats">
            <tr>
                <td> </td>
                <td style="margin-right: 20px;"><p class="arabic" data-bind="text: arabic"></p></td>
                <td rowspan="2">
                    <button class="btn" data-bind="css: {'danger' : selected(), 'primary': !selected() }, text: selected() ? 'Deselect' : 'Select', click: toggleSelect "></button>
                </td>
			</tr>
			<tr>
                <td><p data-bind="text: number"></p></td>
                <td><p data-bind="text: english"></p></td>
            </tr>
		</tbody>
    </table>
    <div class="pagination">
	  <ul data-bind="foreach: pages">
          <li>
            <a href="" data-bind="click: $parent.goToPage, text: $data"></a>
            </li>
	  </ul>
    </div>
</div>
</div>
{% endblock %}
