{% extends "base.html" %}
{% import "topnavbar.html" as nav %}
{% block title %}Home{% endblock %}
{% block topnavbar %}
{{ nav.topnavbar(0) }}
{% endblock %}
{% block body %}
<div class="container">
<div class="row">
	<h1>Welcome to QuranApp!</h1>
	<p>QuranApp allows you to easily create PDF, HTML and Word collections of various Quranic Ayats, allowing you to print them out and distribute them with ease.</p>
	<h2>Usage</h2>
	<p>In just a few minutes, you can create your own documents, no signup required. Just follow these steps:</p>
	<h3>1. Select</h3>
    <p>Use the <a href="{{ url_for("browse") }}">Browse Quran</a> link to view and select the Ayats you wish to add to your collection</p>
	<h3>2. Review</h3>
    <p>Use the <a href="{{ url_for("review") }}">Review Selection</a> link to review your selection, and arrange it however you wish</p>
	<h3>3. Download &amp; Read</h3>
	<p>Just hit the download button to download the collection in your preferred format. PDF is intended for print &amp; distribution, while HTML is intended for storing locally and providing text you can copy into other programs. You can use the Word format to work with your collection in Microsoft Word, which is ideal for editing purposes.</p>
</div>
</div>
{% endblock %}
